<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input,
        select {
            width: 100%;
            border: 1px solid #eee;
            padding: 10px 5px !important;
        }
    </style>
</head>

<body>
    <div class="flex justify-center ">
        <div class="w-1/4 p-4  my-5">
            <div class="bg-blue-500 p-3 rounded border">
                <form action="" method="post" class=" flex flex-col gap-5 p-2 rounded">
                    {% csrf_token %}
                    {{ form.as_p}}

                    <input type="submit" value="Update record"
                        class="bg-teal-500 text-white font-semibold flex-1 hover:bg-teal-800 px-3 py-2 rounded shadow">
                </form>
            </div>
        </div>

    </div>
</body>

</html>